

<h1 class="blockquote text-cente ">About Me </h1>
<p class="blockquote text-center">Hello, My name is Eli. I am a Web Develloper based out of San Diego.
  I specialize in full stack applications with React and Ruby on Rails. This blog is my place to rant and muse about mny ongoing learnings in the tech industry. A place where I can share my failures and my successes. I have learned a lot along the way. It seems the path for me is littered with failure but 
I am undetterred from my goal of making it in this industry. I will not be stopped. I am starting to feel like I undderstand /
so many things that were once so foreign to me. I am steadily gaining confidence in myself and those around me. 
</p>

