<h1>About Me </h1>
<p>Hello, My name is Eli. I am a Web Develloper based out of San Diego.
  I specializei nfull stack applications with React and Ruby on Rails. This blog is my place to rant and muse about mny ongoing learnings in the tech industry. The trsuggle is real 
A place where I can shre my failures and my successes. So it has been for me that I have been working towards a goal of having a creer in tech. 
It has not been easy. I have done many things and some of them have not worked out as planned. I have learned a lot along the way. Itt seems the path for me is littered with failure but 
I am undetterred from my goal of making it in this industry. I will not be stopped. I am starting to feel like I undderstand /
so many thingss that were once so foreign to me. I am slowly gainign confidence in myself andf those that are /

putting in the hard work and hours just like me. I can see who is doing the work and who is faking it. 


</p>
