

<h1 class="blockquote text-cente ">About Me </h1>
<p class="blockquote text-center">Hello, My name is Eli. I am a Web Develloper based out of San Diego.
  I specialize in full stack applications with React and Ruby on Rails. This blog is my place to rant and muse about my ongoing learnings in the tech industry. A place where I can share my failures and  successes. 
</p>

